<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header ">
        <h3>TOP TRACKS </h3>
    </div>

    <div id="container">
        {% for i in range(0,3) %}

        <div class='item'>
            <h2><b style="text-align: center;"> {{name[i]}}</b></h2>
            <h2><b style="color:black; margin-left: 90px; color:rgb(31, 20, 23);"> by {{artists[i]}}</b></h2>
            <img src="{{image[i]}}" style="margin-left: 40px; ">
            <audio controls src={{preview_url[i]}} style="margin-left: 40px; ">
                            
                            <code>audio</code> 
                    </audio>
            <p><a href="{{lyrics_url}}" style="margin-left: 70px; font-size: 20px; text-decoration: none;">Click here to see the Links!</a></p>


        </div>

        {% endfor %}

    </div>


</body>

</html>