<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header ">
        <h3>TOP TRACKS </h3>
    </div>

    <div id="container">
        {% for i in range(0,1) %}

        <div class='item'>
            <h2><b> {{name[i]}}</b></h2>
            <h2><b> by {{artists[i]}}</b></h2>
            <img src="{{image[i]}}">
            <audio controls src={{preview_url[i]}}>
                            
                            <code>audio</code> 
                    </audio>
            <p><a href="{{lyrics_url}}" style=" font-size: 20px; text-decoration: none;">Click here to see the Links!</a></p>

            <h2>Save a favorite artist id for later:</h2>
            <form method="POST" action="/index">
                <input type="text" name="artist_id" placeholder="Artist ID" required>
                <input type="submit" value="Submit">
            </form>

        </div>

        {% endfor %}

    </div>


</body>

</html>